<div class="button-row">
  <a mat-fab color="primary" (click)="boardsDetailsCompany()"><mat-icon>visibility</mat-icon></a>
</div>
<form [formGroup]="boardsCompanyForm" (ngSubmit)="onFormSubmitCompany(boardsCompanyForm.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Display Name" formControlName="displayName"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!boardsCompanyForm.get('displayName').valid && boardsCompanyForm.get('displayName').touched">Please enter your display name</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="First Name" formControlName="firstName"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!boardsCompanyForm.get('firstName').valid && boardsCompanyForm.get('firstName').touched">Please enter your first name</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" formControlName="lastName"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!boardsCompanyForm.get('lastName').valid && boardsCompanyForm.get('lastName').touched">Please enter Book Author</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Telefon nummer" formControlName="phoneNumber"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!boardsCompanyForm.get('phoneNumber').valid && boardsCompanyForm.get('phoneNumber').touched">Please enter Telefon nummer</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width"> 
        <input matInput placeholder="Adresse" formControlName="address"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!boardsCompanyForm.get('address').valid && boardsCompanyForm.get('address').touched">Please enter Adresse</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Postnummer" formControlName="zipCode"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!boardsCompanyForm.get('zipCode').valid && boardsCompanyForm.get('zipCode').touched">Please enter Adresse</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="By" formControlName="city"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!boardsCompanyForm.get('city').valid && boardsCompanyForm.get('city').touched">Please enter Adresse</span>
            </mat-error>
          </mat-form-field>

          <div class="example-full-width">
              <input  placeholder="id" formControlName="uid" type="hidden" >
          </div>

            <div class="example-full-width">
                <input  placeholder="email" formControlName="email" type="hidden" >
            </div>
  
  <div class="button-row">
    <button type="submit" [disabled]="!boardsCompanyForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>