<div class="box" *ngIf="!newUser">
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>Hej, Gæst</h3>
  <button class="button" (click)="logoutCompany()">Log ud</button>
  <p class="card-text">Log ind for at se din profil</p>
  <!--<button class="button" routerLink="/login">Log ind</button>-->
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    Bruger
    <h3>Hej, {{ user.displayName }}</h3>
    <h4>Fornavn : {{ user.firstName }}</h4>
    <h4>Efternavn : {{ user.lastName }}</h4>
    <h4>Telefon : {{ user.phoneNumber }}</h4>
    <h4>Adresse : {{ user.address }}</h4>
    <h4>Postnr : {{ user.zipCode }}</h4>
    <h4>By : {{ user.city }}</h4>
    <h4>Email : {{ user.email }}</h4>
    <!--<img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>-->
    <p class="text-truncate">UID : {{ user.uid }}</p>

    <button class="button" [routerLink]="['/boards-details/', user.uid]">Opdater profil</button>
     <br>
     <br>
     <button class="button" [routerLink]="['/create-offer']">Opret tilbud</button>
     <br>
     <br>
    <button class="button" (click)="logout()">Log ud</button>
  </div>
</ng-template>


<!-- <div class="box" *ngIf="!newUserCompany">
    <div *ngIf="authCompany.company | async; then authenticatedCompany"> --> 
            <!-- template will replace this div -->
    <!-- </div>
  </div>
   -->
  
  <!-- User logged in -->
  <!-- <ng-template #authenticatedCompany>
    <div *ngIf="authCompany.company | async as company">
      Firma
      <h3>Hej, {{ company.displayName }}</h3>
      <h4>firstName : {{ company.firstName }}</h4>
      <h4>Efternavn : {{ company.lastName }}</h4>
      <h4>Telefon : {{ company.phoneNumber }}</h4>
      <h4>Adresse : {{ company.address }}</h4>
      <h4>Postnr : {{ company.zipCode }}</h4>
      <h4>By : {{ company.city }}</h4>
      <h4>Email : {{ company.email }}</h4> -->
      <!--<img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>-->
       <!-- <p class="text-truncate">UID : {{ company.uid }}</p>
  
      <button class="button" [routerLink]="['/boards-details/', company.uid]">Opdater profil</button>
       <br>
      <button class="button" (click)="logout()">Log ud</button>
    </div>
  </ng-template>  -->
