

<button (click)="toggleLogin()" id="bt" class="btn btn-primary">{{loginUser}}</button>

<ng-container *ngIf="showLogin">
    <h1>Log ind</h1>
    <br>
    
    <!-- <h3>Har du allerede en bruger så tryk på log ind</h3>
    <p class="btn btn-primary" (click)="toggleForm()">Log ind</p>
     -->
    
    <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="login()">
    
    <!-- <h3>Tryk på knappen for at komme tilbage.</h3>
    <p class="btn btn-primary" (click)="toggleForm()">Tilbage</p>
    <hr> -->

    
    <h3>Log ind for at forsætte til din profil</h3>
    <label for="email">Email</label>
    <input type="email" id="email" name="email2" class="input" formControlName="email" required autocomplete="new-password">
    
    <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
    </div>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password2" class="input" formControlName="password" required autocomplete="new-password">
    
    <div *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Log ind</button>
    
    <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>
    
    <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
    
    </form>

</ng-container>



<br>
<br>

<button (click)="toggle()" id="bt" class="btn btn-primary">{{createUser}}</button>

<ng-container *ngIf="!show"> <!-- !show = userCompany  -->
    <form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">
    
    
    <h3>Opret ny bruger profil</h3>
    <!--<p class="button is-small" (click)="toggleForm()">Already Registered?</p>-->
    <hr>
    <label for="email">Email</label>
    <input type="email" class="input" formControlName="email" name="email" required autocomplete="new-password">
    
    <div *ngIf="formErrors.email" class="notification is-danger">
        {{ formErrors.email }}
    </div>
    
    <label for="password">Password</label>
    <input type="password" class="input" formControlName="password" name="password" required>
    
    <div *ngIf="formErrors.password" class="notification is-danger">
        {{ formErrors.password }}
    </div>
    
    <br>

    <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Opret Profil</button>
    
    </form>
</ng-container>




<ng-container *ngIf="show"> <!-- show = userCompany  -->
    <form [formGroup]="userCompanyForm" *ngIf="newUserCompany" (ngSubmit)="signupCompany()">

        <h3>Opret ny Firma profil</h3>
        <!--<p class="button is-small" (click)="toggleForm()">Already Registered?</p>-->
        <hr>
        <label for="email">Email</label>
        <input type="email" class="input" formControlName="email" name="email">
        
        
        <label for="password">Password</label>
        <input type="password" class="input" formControlName="password" name="password" required>
        
        
        <br>
        <button type="submit" class="btn btn-primary">Opret Profil</button>
        
        </form>
</ng-container>





<form [formGroup]="userCompanyForm" *ngIf="!newUserCompany" (ngSubmit)="loginCompany()">

    <h3>Log ind for at forsætte til din firma profil</h3>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="input" formControlName="email" required autocomplete="new-password">
    
    <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
    </div>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="input" formControlName="password" required autocomplete="new-password">
    
    <div *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!userformCompany.valid">Log ind</button>
    
    <span *ngIf="userformCompany.valid" class="help is-success">Form Looks Valid</span>
    
    <a *ngIf="!passReset && userformCompany.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userformCompany.value.email}}?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

</form>