<div class="button-row">
  <!-- <a mat-fab color="primary" [routerLink]="['/boards']"><mat-icon>list</mat-icon></a> -->
</div>
<mat-card class="example-card">
  <!-- <mat-card-header>
    <mat-card-title><h2>{{user.displayName}}</h2></mat-card-title>
    <mat-card-subtitle>{{user.firstName}}</mat-card-subtitle>
  </mat-card-header> -->
  <mat-card-content>
    <dl>
      <dt>DisplayName:</dt>
      <dd>{{user.displayName}}</dd>
      <dt>First Name:</dt>
      <dd>{{user.firstName}}</dd>
      <dt>Last Name:</dt>
      <dd>{{user.lastName}}</dd>
      <dt>Address:</dt>
      <dd>{{user.address}}</dd>
      <dt>City:</dt>
      <dd>{{user.city}}</dd>
      <dt>zipCode:</dt>
      <dd>{{user.zipCode}}</dd>
      <dt>phoneNumber:</dt>
      <dd>{{user.phoneNumber}}</dd>
      <dt>email:</dt>
      <dd>{{user.email}}</dd>
      <dt>id:</dt>
      <dd>{{user.uid}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/boards-edit', user.key]" class="edit-btn"><mat-icon>edit</mat-icon></a>
    <!-- <a mat-fab color="warn" (click)="deleteBoard(user.key)"><mat-icon>delete</mat-icon></a> -->
  </mat-card-actions>
</mat-card>